<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" th:content="${model.name}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" type="text/css" href="standard.css">
    <title th:text="${model.name}"></title>

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <style type="text/css">
        #map {
            width: 100%;
            height: 1000px;
            border: 1px solid lightgray;
        }
    </style>
</head>

<body>

<div th:replace="~{header (title=${model.name},modelName=${model.name})}"></div>

<div id="content">
    <div th:replace="~{navigation (rel='.')}"></div>

    <main>
        <div id="map"></div>

        <script th:inline="javascript">
            // create an array with nodes
            var nodes = new vis.DataSet([
                /*[# th:each="node : ${nodes}"]*/
                {
                    id: [[${node.hashCode()}]],
                    label: [[${node.name}]],
                    title: [[${model.nodeTypes[node.type].name}]]+": "+[[${node.doc}]],
                    color: [[${model.nodeTypes[node.type].color}]]
                },
                /*[/]*/
            ]);

            // create an array with edges
            var edges = new vis.DataSet([
                /*[# th:each="node : ${nodes}"]*/
                /*[# th:each="edge : ${node.fromNodes.values}"]*/
                {
                    from:   [[${edge.from.hashCode()}]],
                    to:     [[${edge.to.hashCode()}]],
                    arrows: 'to',
                    title:  [[${model.edgeTypes[edge.type].name}]],
                    color:  {
                        color: [[${model.edgeTypes[edge.type].color}]]
                    }
                },
                /*[/]*/
                /*[/]*/
            ]);

            // create a network
            var container = document.getElementById('map');
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                nodes: {
                    borderWidth: 2,
                    shadow:true
                },
                edges: {
                    width: 2,
                    shadow:true
                }
            };
            var network = new vis.Network(container, data, options);
        </script>
    </main>

    <div id="secondary">
    </div>
</div>

<div th:replace="~{footer}"></div>

</body>
</html>
