<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" th:content="|${model.nodeTypeNames[node.type]} ${node.name}|"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" type="text/css" href="../standard.css">
    <title th:text="|${model.nodeTypeNames[node.type]} '${node.name}'|"></title>

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <link href="https://unpkg.com/vis-network/standalone/umd/vis-network.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #map {
            width: 100%;
            height: 300px;
        }
    </style>
</head>

<body>
<div th:replace="~{header (title=|${model.nodeTypeNames[node.type]} '${node.name}'|,modelName=${model.name})}"></div>

<div id="content">
    <div th:replace="~{navigation (rel='..')}"></div>

    <main>
        <h1>Beschreibung</h1>
        <blockquote th:text="${node.doc}"></blockquote>

        <h1>Causes</h1>

        <ul>
            <li th:each="edge : ${node.fromNodes.values}">
                <a href="nodes/Name.html" th:href="@{{name}.html(name=${edge.from.name})}"
                   th:text="${edge.from.name}">Name</a>
                &#x2192;
                [[${model.edgeTypeNames[edge.type]}]]
                &#x2192;
                [[${node.name}]]

                <blockquote th:if="${edge.doc != ''}" th:text="${edge.doc}"></blockquote>
            </li>
        </ul>

        <h1>Consequences</h1>

        <ul>
            <li th:each="edge : ${node.toNodes.values}">
                [[${node.name}]]
                &#x2192;
                [[${model.edgeTypeNames[edge.type]}]]
                &#x2192;
                <a href="nodes/Name.html" th:href="@{{name}.html(name=${edge.to.name})}"
                   th:text="${edge.to.name}">Name</a>

                <blockquote th:if="${edge.doc != ''}" th:text="${edge.doc}"></blockquote>
            </li>
        </ul>

        <h1>Map</h1>

        <div id="map"></div>

        <script th:inline="javascript">
            // create an array with nodes
            var nodes = new vis.DataSet([
                /*[# th:each="edge : ${node.fromNodes.values}"]*/
                {id: [[${edge.from.hashCode()}]], label: [[${edge.from.name}]], color: 'wheat'},
                /*[/]*/
                {id: [[${node.hashCode()}]], label: [[${node.name}]]},
                /*[# th:each="edge : ${node.toNodes.values}"]*/
                {id: [[${edge.to.hashCode()}]], label: [[${edge.to.name}]], color: 'orange'},
                /*[/]*/
            ]);

            // create an array with edges
            var edges = new vis.DataSet([
                /*[# th:each="edge : ${node.fromNodes.values}"]*/
                {from: [[${edge.from.hashCode()}]], to: [[${edge.to.hashCode()}]], arrows:'to', color: {color: 'wheat'}},
                /*[/]*/
                /*[# th:each="edge : ${node.toNodes.values}"]*/
                {from: [[${edge.from.hashCode()}]], to: [[${edge.to.hashCode()}]], arrows:'to', color: {color: 'orange'}},
                /*[/]*/
            ]);

            // create a network
            var container = document.getElementById('map');
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                nodes: {
                    borderWidth: 2,
                    shadow:true
                },
                edges: {
                    width: 2,
                    shadow:true
                }
            };
            var network = new vis.Network(container, data, options);
        </script>
    </main>

    <div id="secondary">
    </div>
</div>

<div th:replace="~{footer}"></div>

</body>
</html>
