<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" th:content="|${model.nodeTypes[node.type].name} ${node.name}|"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" type="text/css" href="../standard.css">
    <title th:text="|${model.nodeTypes[node.type].name} '${node.name}'|"></title>

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <style type="text/css">
        #map {
            width: 100%;
            height: 300px;
        }
    </style>
</head>

<body>
<div th:replace="~{header (title=|${model.nodeTypes[node.type].name} '${node.name}'|,modelName=${model.name})}"></div>

<div id="content">
    <div th:replace="~{navigation (rel='..')}"></div>

    <main>
        <h1>Beschreibung</h1>
        <blockquote th:text="${node.doc}"></blockquote>

        <h1>Causes</h1>

        <ul>
            <li th:each="edge : ${node.fromNodes.values}">
                <a href="node.html" th:href="@{{name}.html(name=${edge.from.hashCode})}"
                   th:text="${edge.from.name}">Name</a>
                --
                [[${model.edgeTypes[edge.type].name}]]
                &#x2192;
                [[${node.name}]]

                <blockquote th:if="${edge.doc != ''}" th:text="${edge.doc}"></blockquote>
            </li>
        </ul>

        <h1>Consequences</h1>

        <ul>
            <li th:each="edge : ${node.toNodes.values}">
                [[${node.name}]]
                --
                [[${model.edgeTypes[edge.type].name}]]
                &#x2192;
                <a href="node.html" th:href="@{{name}.html(name=${edge.to.hashCode})}"
                   th:text="${edge.to.name}">Name</a>

                <blockquote th:if="${edge.doc != ''}" th:text="${edge.doc}"></blockquote>
            </li>
        </ul>

        <h1>Map</h1>

        <div id="map"></div>

        <script th:inline="javascript">
            // create an array with nodes
            var nodes = new vis.DataSet([
                /*[# th:each="edge : ${node.fromNodes.values}"]*/
                {
                    id: [[${edge.from.hashCode()}]],
                    label: [[${edge.from.name}]],
                    title:  [[${model.nodeTypes[edge.from.type].name}+': '+${edge.from.doc}]],
                    color: [[${model.nodeTypes[edge.from.type].color}]]
                },
                /*[/]*/
                {
                    id: [[${node.hashCode()}]],
                     label: [[${node.name}]],
                     title:  [[${model.nodeTypes[node.type].name}+': '+${node.doc}]],
                     color: [[${model.nodeTypes[node.type].color}]],
                     borderWidth: 4,
                     fixed: {
                        x: true,
                        y: true
                     }
                },
                /*[# th:each="edge : ${node.toNodes.values}"]*/
                {
                    id: [[${edge.to.hashCode()}]],
                    label: [[${edge.to.name}]],
                    title:  [[${model.nodeTypes[edge.to.type].name}+': '+${edge.to.doc}]],
                    color: [[${model.nodeTypes[edge.to.type].color}]]
                },
                /*[/]*/
            ]);

            // create an array with edges
            var edges = new vis.DataSet([
                /*[# th:each="edge : ${node.fromNodes.values}"]*/
                {
                    from:   [[${edge.from.hashCode()}]],
                    to:     [[${edge.to.hashCode()}]],
                    arrows: 'to',
                    title:  [[${model.edgeTypes[edge.type].name}]],
                    color: {
                        color: [[${model.edgeTypes[edge.type].color}]]
                    }
                },
                /*[/]*/
                /*[# th:each="edge : ${node.toNodes.values}"]*/
                {
                    from:   [[${edge.from.hashCode()}]],
                    to:     [[${edge.to.hashCode()}]],
                    arrows: 'to',
                    title:  [[${model.edgeTypes[edge.type].name}]],
                    color: {
                        color: [[${model.edgeTypes[edge.type].color}]]
                    }
                },
                /*[/]*/
            ]);

            // create a network
            var container = document.getElementById('map');
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                nodes: {
                    borderWidth: 2,
                    shadow:true,
                    shape: "box"
                },
                edges: {
                    width: 2,
                    shadow:true
                }
            };
            var network = new vis.Network(container, data, options);
        </script>
    </main>

    <div id="secondary">
    </div>
</div>

<div th:replace="~{footer}"></div>

</body>
</html>
